{
  "root": true,
  "extends": "standard",
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "simple-import-sort"
  ],
  "rules": {
    "no-unused-vars": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "BufferEncoding": true
  },
  "ignorePatterns": [
    "**/dist/*"
  ]
}
