version: 2.1

jobs:
  test_node_version:
    parameters:
      version:
        type: string
    docker:
      - image: cimg/node:<< parameters.version >>-browsers
    working_directory: ~/project
    steps:
      - checkout
      - restore_cache:
          keys:
            - v4-dependencies-node<< parameters.version >>-{{ checksum "yarn.lock" }}
            - v4-dependencies-node<< parameters.version >>-
      - run: yarn --frozen-lockfile
      - save_cache:
          paths:
            - node_modules
            - packages/*/node_modules
          key: v4-dependencies-node<< parameters.version >>-{{ checksum "yarn.lock" }}
      - run:
          name: Lint
          command: yarn run lint
          environment:
            TERM: xterm
      - run:
          name: Build
          command: yarn run build

workflows:
  test_node14:
    jobs:
      - test_node_version:
          version: "14.19.3"
  test_node16:
    jobs:
      - test_node_version:
          version: "16.15.0"
  test_node18:
    jobs:
      - test_node_version:
          version: "18.2.0"
