/* Base styles */

* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
}

::-webkit-scrollbar-thumb {
  background: #D0D0D0;
}

html,
body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}

body,
button,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}

button {
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
}

button::-moz-focus-inner {
  border: 0;
}

textarea {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

a img {
  border: 0;
}

a:link,
a:visited {
  color: #0060FF;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

textarea {
  white-space: pre;
  resize: none;
}

/* Core layout */

.menu {
  height: 40px;
  display: flex;
}

.split {
  height: calc(100% - 40px);
}

.gutter {
  cursor: row-resize;
}

.gutter,
.menu {
  background: #ECECEC;
  border: 1px solid #DCDCDC;
  border-left: 0;
  border-right: 0;
}

/* Menu */

.logo {
  margin: 5px 0;
}

.version {
  padding-left: 1ex;
  opacity: 0.33;
}

.button {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.button button {
  margin: 0;
  padding: 3px 12px;
  border: 1px solid #DCDCDC;
  border-radius: 1000px;
  background: white;
  color: black;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0);
  transition: box-shadow 0.2s ease-in-out;
}

.button button:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.075);
}

.button button:focus {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.button button:active {
  margin: 1px 0 -1px 0;
}

.button button:disabled {
  cursor: default;
  opacity: 0.5;
}

button.icon-and-text {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

button.icon-and-text .icon {
  margin-left: 1ex;
}

.menu > .button {
  margin-right: 1ex;
  flex: 0;
  display: flex;
}

.menu > .button:last-child {
  margin-right: 15px;
}

.menu > .button button {
  flex: 0;
}

.submenu {
  display: none;
  position: absolute;
  z-index: 2;
}

.submenu .button {
  margin-top: 0.75ex;
  text-align: right;
}

.overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.theme-toggle .label-dark {
  display: none;
}

.branding {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

/* Code */

.spec {
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  border: 0;
  margin: 0;
  padding: 15px;
}

/* Diagram */

.result {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.diagram,
.error {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.diagram > svg {
  user-select: none;
  min-width: 100%;
}

.diagram.scale-fit {
  overflow: hidden;
}

.diagram.scale-fit > svg {
  width: 100%;
  height: 100%;
}

.error,
.result.failed .diagram {
  display: none;
}

.result.failed .error {
  display: block;
  color: #C00000;
  white-space: pre-wrap;
  padding: 15px;
}

/* Dark theme */

body.dark ::-webkit-scrollbar-track {
  background: #101010;
}

body.dark ::-webkit-scrollbar-thumb {
  background: #303030;
}

body.dark {
  background: black;
  color: white;
}

body.dark .button button {
  background: #404040;
  color: white;
  border-color: #303030;
}

body.dark .theme-toggle .label-light {
  display: none;
}

body.dark .theme-toggle .label-dark {
  display: inline;
}

body.dark .gutter,
body.dark .menu {
  background: #202020;
  border-color: #303030;
}

body.dark .error {
  color: #FF0000;
}

body.dark .spec {
  background: black;
  color: white;
}

body.dark .overlay {
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 480px) {
  body,
  button,
  textarea {
    font-size: 15px;
  }

  .button button {
    padding: 5px 15px;
  }

  .logo img {
    height: 30px;
  }

  .menu {
    height: 50px;
  }

  .split {
    height: calc(100% - 50px);
  }
}
