* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: white;
}

body, input, textarea, button {
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
}

a:link, a:visited {
  color: #0000E0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #0000C0;
}

a img {
  border: 0;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.split {
  flex: 1;
}

.gutter {
  background: #E0E0E0;
  cursor: row-resize;
}

.controls {
  flex: 0;
  display: flex;
  background: #E0E0E0;
}

.gutter, .controls {
  border: 1px solid #D0D0D0;
  border-left: 0;
  border-right: 0;
}

.result {
  overflow: auto;
}

.error {
  color: #C00000;
  white-space: pre-wrap;
  padding: 0.75em;
}

.spec {
  width: 100%;
  height: 100%;
  background: #FCFCFC;
  color: black;
  border: 0;
  margin: 0;
  padding: 0.75em;
}

.spec:focus {
  outline: 0;
}

.branding {
  flex: 1;
  padding: 0.75em 1ex;
}

.export {
  flex: 0;
  display: flex;
  padding-right: 1ex;
}

.export .label {
  padding-top: 0.75em;
}

.export button {
  margin: 0.5em 0 0.5em 1ex;
  padding: 0.25em;
  background: white;
  border: 1px solid #D0D0D0;
  color: black;
  white-space: nowrap;
}

.export button:disabled {
  color: #E0E0E0;
}
