* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: white;
}

body, input, textarea, button {
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
}

a:link, a:visited {
  color: #0000E0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #0000C0;
}

a img {
  border: 0;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.result {
  flex: 1;
  overflow: auto;
}

.input {
  flex: 0;
  min-height: 20em;
  max-height: 50%;
}

.spec {
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  border: 0;
  border-top: 1px solid #C0C0C0;
  margin: 0;
  padding: 1ex;
}

.spec:focus {
  outline: 0;
}

.controls {
  flex: 0;
  display: flex;
  background: #C0C0C0;
}

.branding {
  flex: 1;
  padding: 0.75em 1ex;
}

.export {
  flex: 0;
  display: flex;
  padding-right: 1ex;
}

.export .label {
  padding-top: 0.75em;
}

.export button {
  margin: 0.5em 0 0.5em 1ex;
  padding: 0.25em;
  background: white;
  color: black;
  border: 0;
  white-space: nowrap;
}

.controls button:disabled {
  color: #C0C0C0;
}
