* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: white;
}

body, input, textarea, button {
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
}

a img {
  border: 0;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.result {
  flex: 1;
  overflow: auto;
}

.controls {
  flex: 0;
  display: flex;
  background: #D0D0D0;
}

.controls .spacer {
  flex: 1;
}

.controls button {
  flex: 0;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0.25em;
  background: white;
  color: black;
  border: 0;
  white-space: nowrap;
}

.controls button:disabled {
  color: #C0C0C0;
}

.input {
  flex: 0;
  min-height: 20em;
  max-height: 50%;
}

.input textarea {
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  border: 0;
  border-top: 1px solid #C0C0C0;
  margin: 0;
  padding: 1ex;
}

.gh {
  position: absolute;
  right: 0;
  top: 0;
}
